#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.contenitore {
  margin-top: 3.5rem !important;
}

.navbar-toggler-icon {

  background-image: var(--bs-navbar-toggler-icon-bg) !important;
}

.footer_contatti {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

.principale {
  min-height: 80vh;
}

#logout-button {
  padding-top: 1rem;
  padding-right: 1rem;
}

.articolo {
  display: flex;
  justify-content: center;
  margin: auto;
}

#visible-check{
  text-align: left !important;
}

#edit{
  margin: 1%;
}

#delete{
  margin: 1%;
}

#add-button{
  margin: 1%;
}

.carousel-indicators  {
  display: none;
}

#foto {
  height: 500px;
  max-height: 500px;
  min-height: 500px;
}

#foto img {
  height: 100%; /* Altezza delle immagini */
  object-fit: contain; /* Ridimensiona le immagini per coprire l'intero contenitore */
}


/*fonte zoom: https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}